<body>
    <head>
        <link rel="stylesheet" href="./style.css">    
    </head>

    <%- include('navbar', navbarLinks) %>

    <h1>About</h1>

    <p><%= about %></p>

    <%- include('footer') %>
</body>