<nav>
    <ul>
        <% for (let i = 0; i < navbarLinks.length; i++) { %>
            <li>
                <a href="<%= navbarLinks[i].href %>">
                    <span> <%= navbarLinks[i].text %> </span>
                </a>
            </li>
        <% } %>
    </ul>
</nav>